html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #eeeeee;
  margin: 0;
  padding: 0;
  border: 0;
}


/* Links  */

a:link {
    color: Black;
    text-decoration: none;
}

a:visited {
    color: Black;
}

a:hover {
    color: #00ece4;
    text-decoration: underline;
}

a:active {
    color: #00ece4;
}


/* Typography */

h1 {
  font-family: 'Catamaran', sans-serif;
  font-weight: 900;
}

h2 {
  font-family: 'Catamaran', sans-serif;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
}

p {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  line-height: 170%;
}

li {
  display: inline-block;
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-size: 0.9em;
}


/* Content */

.headercontent, .about, .portfolio, .contact {
  padding-left: 2em;
  padding-right: 2em;
  margin: 0 auto;
  max-width: 650px;
  overflow: auto;
}

.header {
  background-color: #FFF;
  width: 100%;
  height: 6em;
  margin-top: -0.8em;
  box-shadow: 0em 0.1em 0.2em 0em #ccc;
}

.name {
  float: left;
  box-shadow: inset 0 -6px 0 #00ece4;
}

.headercontact {
  float: right;
  margin-top: 2.8em;
  font-style: italic;
  font-size: 0.9em;
  text-decoration: none;
}

.about {
  margin-top: 1em;
}

.subtitle {
  box-shadow: inset 0 -5px 0 #00ece4;
  float: left;
}

.subbody {
  clear: left;
}

.contact {
  padding-top: 1em;
}


/* CSS Grid System for Portfolio */

.row, 
.column {
    box-sizing: border-box;
}

.row:before,
.row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.column {
    position: relative;
    float: left;
}

.column + .column {
    margin-left: 1.6%;
}

.row + .row {
      margin-top: 1.1%;
    }

.column-1 {
    width: 6.86666666667%;
}

.column-2 {
    width: 15.3333333333%;
}

.column-3 {
    width: 23.8%;
}

.column-4 {
    width: 32.2666666667%;
}

.column-5 {
    width: 40.7333333333%;
}

.column-6 {
    width: 49.2%;
}

.column-7 {
    width: 57.6666666667%;
}

.column-8 {
    width: 66.1333333333%;
}

.column-9 {
    width: 74.6%;
}

.column-10 {
    width: 83.0666666667%;
}

.column-11 {
    width: 91.5333333333%;
}

.column-12 {
    width: 100%;
}

@media only screen and (max-width: 550px) {
    .column-1, 
    .column-2, 
    .column-3, 
    .column-4, 
    .column-5, 
    .column-6, 
    .column-7, 
    .column-8, 
    .column-9, 
    .column-10, 
    .column-11, 
    .column-12 {
        width: auto;
        float: none;
    }

    .column + .column {
        margin-left: 0;
        margin-top: 1.1%;
    }

    .row + .row {
      margin-top: 1.1%;
    }
}

/* Social Icons in Header */

.headercontact > li {
  width: 3em;
  display: inline-block;
}

.envelope:hover, .facebook:hover, .instagram:hover {
  color: #00ece4;
}

@media only screen and (max-width: 450px) {
  .headercontact {
    display: none;
  }
}

/* Social Icons in Footer */

.icons {
  padding-bottom: 60px;
  padding-top: 15px;
  width: 404px;
  margin-left: auto;
  margin-right: auto;
}

.footercontact > li {
  width: 4rem;
  display: inline-block;
}

.envelope:hover, .facebook:hover, .instagram:hover, .flickr:hover, .linkedin:hover, .spotify:hover {
  color: #00ece4;
}

.icons > ul {
  padding: 0;
}